body{
    direction: rtl;
    /*letter-spacing: 0;*/
}

.header-top-area{
    direction: ltr;
}

.mainmenu .navbar-nav li a {
    font-size: 26px;
}
.navbar-right{
    text-align: right;
}
.navbar-right > li{
    float: right;
}
.navbar-collapse{
    padding-left: 160px!important;
    padding-top: 20px;
}
.header-text h2{
    /*letter-spacing: 3px;*/
}
@media (min-width: 768px ) and (max-width:991px ) {
    .header-text{
        margin-top:115px;
    }
    .navbar-collapse{
        padding-left: 89px!important;
        padding-top:unset;
    }

}

.abss{
    position: absolute;
    right: 0;
    top: -27px;
}

.navbar-toggle .icon-bar {

    /*margin-block-start: -40px;*/
}

.menu-bg .mainmenu .navbar-nav li a {

    font-size:  26px;;
}
.header-text p{
    /*letter-spacing: 1px;*/
}
.overview{
    text-align: right;
}
/*.product-box .lower-content .view-etails-btn .link-box a .fa{*/
    /*float: right;*/
    /*margin: 4px;*/
/*}*/
.fa-angle-right:before {
    content: "\f104";
}
.product-category{
    left: unset!important;
    right: 0px;
}
.product-price{
    right: unset!important;
    left: 0px;

}
.overview ul li p{
float: right;
}

.overview ul li span{
float: left;
}
.product-title p{
    text-align: right;
}
.nav-tabs > li{
    float: right!important;
}
#myTab > li > a > span.hidetext{
    padding: 0 5px;
}
.nav-tabs > li > a:hover span{
    float: right!important;
}
.nav-tabs > li > a span{
    float: right!important;
}
.logo a p{
    text-align: right;
}
.product-box{
    float: right;
}

@media (min-width: 768px ) and (max-width:991px ) {
  .mgTop{
      margin-top: 115px;
  }



}

@media (min-width: 768px ) and (max-width:991px ) {
    .paddL{
        padding-left: 122px!important;
    }
    .paddL2{
        padding-left: 155px!important;
    }

}
